USE [master]
GO
/****** Object:  Database [Akatsuki_ThiGiuaKy]    Script Date: 02/12/2021 10:26:40 ******/
CREATE DATABASE [Akatsuki_ThiGiuaKy]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Akatsuki_ThiGiuaKy', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Akatsuki_ThiGiuaKy.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Akatsuki_ThiGiuaKy_log', FILENAME = N'D:\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Akatsuki_ThiGiuaKy_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Akatsuki_ThiGiuaKy].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Akatsuki_ThiGiuaKy]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 02/12/2021 10:26:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DatVes]    Script Date: 02/12/2021 10:26:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DatVes](
	[MaDatVe] [int] IDENTITY(1,1) NOT NULL,
	[SoDienThoai] [nvarchar](max) NOT NULL,
	[MaLichChieuPhim] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[ThoiGianDat] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_DatVes] PRIMARY KEY CLUSTERED 
(
	[MaDatVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichChieuPhims]    Script Date: 02/12/2021 10:26:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichChieuPhims](
	[MaLichChieuPhim] [int] IDENTITY(1,1) NOT NULL,
	[MaRap] [int] NOT NULL,
	[MaPhim] [int] NOT NULL,
	[ThoiGianChieu] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_LichChieuPhims] PRIMARY KEY CLUSTERED 
(
	[MaLichChieuPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phims]    Script Date: 02/12/2021 10:26:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phims](
	[MaPhim] [int] IDENTITY(1,1) NOT NULL,
	[TenPhim] [nvarchar](max) NOT NULL,
	[ThoiLuong] [int] NOT NULL,
 CONSTRAINT [PK_Phims] PRIMARY KEY CLUSTERED 
(
	[MaPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Raps]    Script Date: 02/12/2021 10:26:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Raps](
	[MaRap] [int] IDENTITY(1,1) NOT NULL,
	[TenRap] [nvarchar](max) NULL,
	[SoChoTrong] [int] NOT NULL,
 CONSTRAINT [PK_Raps] PRIMARY KEY CLUSTERED 
(
	[MaRap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_DatVes_MaLichChieuPhim]    Script Date: 02/12/2021 10:26:40 ******/
CREATE NONCLUSTERED INDEX [IX_DatVes_MaLichChieuPhim] ON [dbo].[DatVes]
(
	[MaLichChieuPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LichChieuPhims_MaPhim]    Script Date: 02/12/2021 10:26:40 ******/
CREATE NONCLUSTERED INDEX [IX_LichChieuPhims_MaPhim] ON [dbo].[LichChieuPhims]
(
	[MaPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_LichChieuPhims_MaRap]    Script Date: 02/12/2021 10:26:40 ******/
CREATE NONCLUSTERED INDEX [IX_LichChieuPhims_MaRap] ON [dbo].[LichChieuPhims]
(
	[MaRap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DatVes]  WITH CHECK ADD  CONSTRAINT [FK_DatVes_LichChieuPhims_MaLichChieuPhim] FOREIGN KEY([MaLichChieuPhim])
REFERENCES [dbo].[LichChieuPhims] ([MaLichChieuPhim])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DatVes] CHECK CONSTRAINT [FK_DatVes_LichChieuPhims_MaLichChieuPhim]
GO
ALTER TABLE [dbo].[LichChieuPhims]  WITH CHECK ADD  CONSTRAINT [FK_LichChieuPhims_Phims_MaPhim] FOREIGN KEY([MaPhim])
REFERENCES [dbo].[Phims] ([MaPhim])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichChieuPhims] CHECK CONSTRAINT [FK_LichChieuPhims_Phims_MaPhim]
GO
ALTER TABLE [dbo].[LichChieuPhims]  WITH CHECK ADD  CONSTRAINT [FK_LichChieuPhims_Raps_MaRap] FOREIGN KEY([MaRap])
REFERENCES [dbo].[Raps] ([MaRap])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LichChieuPhims] CHECK CONSTRAINT [FK_LichChieuPhims_Raps_MaRap]
GO
USE [master]
GO
